@font-face {
	font-family: Agdasima;
	src: url(/src/styles/Agdasima-Regular.ttf);
}

$icons: (
	"react": "src/img/icons/react.svg",
	"node": "src/img/icons/node.svg",
	"postgres": "src/img/icons/postgres.svg",
	"sass": "src/img/icons/sass.svg",
);

:root {
	--section-padding: 1.5rem;
	--header-color: #fffded;
	--text-color: #ecebdd;
	--paragraph-size: 1.8rem;
	--default-spacing: 1.92px;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: Agdasima;
	background-color: #181818;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.navbar__container {
	display: flex;
	justify-content: end;
	background-color: #181818;
	height: 2.5rem;
	padding: var(--section-padding) 0 var(--section-padding) 0;
	width: 100%;
}

.navOption__btn {
	margin: 0 1rem 0 1rem;
	a {
		font-size: var(--paragraph-size);
		padding: 0.75rem;
		border-radius: 5px;
		text-decoration: none;
		color: var(--nav-text-color);
		background-color: #33ff00;
		border: solid #33ff00 2px;
		letter-spacing: var(--default-spacing);

		&:hover {
			background-color: transparent;
			border: solid #33ff00 2px;
			margin: 0;
		}
	}
}

.main__container {
	display: flex;
	height: 100%;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	padding: var(--section-padding) 4rem var(--section-padding) 4rem;
	max-height: 50rem;
	min-height: fit-content;
}

.profilePic {
	&__container {
		max-height: 45rem;
	}
	border-radius: 5px;
	max-height: 30rem;
	box-shadow: 2px 1px 10px;
}

.aboutMe {
	&__container {
		padding: 0 10rem 0 5rem;
	}
	&__header {
		font-size: 3.6rem;
		font-weight: 600;
		letter-spacing: var(--default-spacing);
		color: var(--header-color);
	}
	&__subHeader {
		font-weight: 600;
		font-size: 2.8rem;
		letter-spacing: var(--default-spacing);
		color: var(--header-color);
		padding-bottom: 1.2rem;
	}
	&__bodyText {
		color: var(--header-color);
		font-size: var(--paragraph-size);
		line-height: 1.4;
		letter-spacing: var(--default-spacing);
		font-weight: 400;
	}
}

.techStack {
	&__container {
	}
	&__header {
		letter-spacing: var(--default-spacing);
		font-size: 2.4rem;
		color: var(--header-color);
	}
	&__list {
		font-size: calc(var(--paragraph-size));
		letter-spacing: var(--default-spacing);
		color: var(--text-color);
		list-style: none;
	}
	&__item {
		@each $name, $glyph in $icons {
			&__#{$name} {
				&::marker {
					display: inline;
					content: url($glyph);
				}
			}
		}
	}
}
.footer {
	&__citation {
		display: flex;
		justify-content: center;
		font-size: 1.4rem;
		&_link {
			color: inherit;
			font-style: none;
		}
		&_link:hover {
			color: inherit;
			cursor: pointer;
			text-decoration: none;
		}
	}
	&__container {
		display: flex;
		flex-direction: column;
		padding: var(--section-padding) 0 var(--section-padding) 0;
		color: var(--text-color);

		.icon {
			&__container {
				display: flex;
				justify-content: center;
			}
			&__img {
				padding: 0 0.5rem 0 0.5rem;
			}
		}
	}
}
