@font-face {
	font-family: Agdasima;
	src: url(/src/styles/Agdasima-Regular.ttf);
}
@keyframes button__hover {
	0% {
		transform: translate(0%, 0%);
		box-shadow: 1px 1px 5px #67ff42;
	}
	50% {
		transform: translate(0%, -5%);
		box-shadow: 1px 1px 3px rgba(104, 255, 66, 0.4392156863);
	}
	100% {
		transform: translate(0%, 0%);
		box-shadow: 1px 1px 5px #67ff42;
	}
}
:root {
	--section-padding: 1.5rem;
	--header-color: #fffded;
	--text-color: #ecebdd;
	--paragraph-size: 1.8rem;
	--default-spacing: 1.92px;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: Agdasima;
	background-color: #181818;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.navbar__container {
	display: flex;
	justify-content: end;
	background-color: #181818;
	height: 2.5rem;
	padding: var(--section-padding) 0 var(--section-padding) 0;
	width: 100%;
}

.navOption__btn {
	margin: 0 1rem 0 1rem;
}
.navOption__btn a {
	display: block;
	font-size: var(--paragraph-size);
	padding: 0.75rem;
	border-radius: 5px;
	text-decoration: none;
	color: var(--nav-text-color);
	background-color: #33ff00;
	border: solid #33ff00 2px;
	letter-spacing: var(--default-spacing);
}
.navOption__btn a:hover,
.navOption__btn a:focus {
	background-color: #9dff85;
	border: solid #33ff00 2px;
	margin: 0;
	animation-name: button__hover;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.main__container {
	display: flex;
	height: 100%;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	padding: var(--section-padding) 4rem var(--section-padding) 4rem;
	max-height: 50rem;
	min-height: -moz-fit-content;
	min-height: fit-content;
}

.profilePic {
	border-radius: 5px;
	max-height: 30rem;
	box-shadow: 2px 1px 10px;
}
.profilePic__container {
	max-height: 45rem;
}

.page__container {
	padding: 0 10rem 0 5rem;
}
.page__header {
	font-size: 3.6rem;
	font-weight: 600;
	letter-spacing: var(--default-spacing);
	color: var(--header-color);
}
.page__subHeader {
	font-weight: 600;
	font-size: 2.8rem;
	letter-spacing: var(--default-spacing);
	color: var(--header-color);
	padding-bottom: 1.2rem;
}
.page__bodyText {
	color: var(--header-color);
	font-size: var(--paragraph-size);
	line-height: 1.4;
	letter-spacing: var(--default-spacing);
	font-weight: 400;
}

.techStack__header {
	letter-spacing: var(--default-spacing);
	font-size: 2.4rem;
	color: var(--header-color);
}
.techStack__list {
	font-size: calc(var(--paragraph-size));
	letter-spacing: var(--default-spacing);
	color: var(--text-color);
	list-style: none;
}
.techStack__item__react {
	padding-left: 0.5rem;
}
.techStack__item__react::marker {
	display: inline;
	list-style: circle;
	content: url("/img/icons/react.svg");
}
.techStack__item__node {
	padding-left: 0.5rem;
}
.techStack__item__node::marker {
	display: inline;
	content: url("/img/icons/node.svg");
}
.techStack__item__postgres {
	padding-left: 0.5rem;
}
.techStack__item__postgres::marker {
	display: inline;
	content: url("/img/icons/postgres.svg");
}
.techStack__item__sass {
	padding-left: 0.5rem;
}
.techStack__item__sass::marker {
	display: inline;
	content: url("/img/icons/sass.svg");
}

.footer__citation {
	display: flex;
	justify-content: center;
	font-size: 1.4rem;
}
.footer__citation_link {
	color: inherit;
	font-style: none;
}
.footer__citation_link:hover {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
.footer__container {
	display: flex;
	flex-direction: column;
	padding: var(--section-padding) 0 var(--section-padding) 0;
	color: var(--text-color);
}
.footer__container .icon__container {
	display: flex;
	justify-content: center;
}
.footer__container .icon__img {
	padding: 0 0.5rem 0 0.5rem;
}
.footer__container .icon__img:hover {
	cursor: pointer;
}
.footer__container .icon__img:focus {
	cursor: pointer;
} /*# sourceMappingURL=styles.css.map */
